---
import { basics } from "@cv";
import Section from "./common/Section.astro";

const { name, label, location } = basics;
const { city, region, countryCode } = location;
---

<Section>
  <h1>{name}</h1>
  <p>{label}</p>
  <footer>
    <address>
      <p>{city}, {region}, {countryCode}</p>
    </address>
  </footer>
</Section>

<style>
  address > p {
    color: hsl(var(--grey-four));
    font-size: 0.85rem;
  }
</style>
