---
import List from "@components/common/List.astro";

const { name, position, url, startDate, endDate, highlights } = Astro.props;
---

<article>
  <header>
    <div class="left">
      <h3 class="company-name">
        <a class="company-link" href={url} target="_blank" rel="noopener">
          {name}
        </a>
      </h3>
      <p class="compnay-position">{position}</p>
    </div>
    <div class="right">
      <p class="companay-period">{startDate} - {endDate}</p>
    </div>
  </header>
  <ul class="highlights-list">
    {
      highlights.map((highlight: string) => (
        <li>
          <p class="highlight">{highlight}</p>
        </li>
      ))
    }
  </ul>
</article>

<style>
  header {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .company-name {
    margin-bottom: 0.25rem;
  }

  .company-link:hover,
  .company-link:focus-visible {
    color: hsl(var(--grey-four));
  }

  .compnay-position {
    color: hsl(var(--grey-four));
  }

  .companay-period {
    color: hsl(var(--grey-four));
  }

  .highlights-list {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    list-style-type: "\1F680";
    padding-left: 1rem;
  }

  .highlight {
    padding-left: 0.5rem;
  }

  @media print {
    h3 {
      font-weight: 500;
    }
  }
</style>
